html,
body {
  padding: 0;
  margin: 0;
  background-color: $primary-color;
  max-width: 100%;
  min-height: 100vh;
  color: white;
  font-family: $font-stack;
  overflow-x: hidden;
}

.pageGrid {
  display: grid;
  height: 100vh;
  grid-template-columns: repeat(12, 1fr);
  gap: 30px;
}

// Old Remove
.pageContainer {
  height: 93vh;
  width: 100%;
}

// Scrollbar CSS

/* width */
::-webkit-scrollbar {
  width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #028a68b4;
  border-radius: 50px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}