.homeGrid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 0;
}

.navBar {
  display: grid;
  height: 80px;
  grid-template-columns: repeat(12, 1fr);
  align-content: center;
  grid-column: span 12;

  .navLinks {
    height: 50px;
    display: flex;
    grid-column: span 10;
    justify-content: left;
    background-color: $tertiary-color;
    animation: navSlide 0.69s ease-in;

    a:first-child {
      margin-left: 2vw;
    }

    a {
      height: 50px;
      margin: 0 1vw 0 1vw;
      text-align: center;
      line-height: 50px;
      color: white;
      text-decoration: none;
    }

    a:hover {
      color: $tertiary-color;
      transition: 0.2s
    }
  }


  .rightNav {
    display: flex;
    justify-content: right;
    align-items: center;
    grid-column: 11 / span 2;

    .button {
      height: 50px;
      margin-right: 1vw;
      background-color: $tertiary-color;
      font-size: $text-size;
      color: white;
      border: none;
      cursor: pointer;
    }

    .button:focus {
      outline: none;
    }
  }
}

@keyframes navSlide {
  from {
    transform: translateX(-60%);
    opacity: 0;
  }

  to {
    transform: translateX(0%);
    opacity: 1;
  }

}

.homeSection {
  height: calc(35vh - 80px);
  grid-column: span 12;
  margin: 0;
}

.title {
  grid-column: 2 / 6;
  margin: 0;
  font-weight: 350;
  font-size: 10rem;
}

.subtitle {
  grid-column: 2 / 6;
  margin: 0;
  font-weight: 50;
}