.navBar {
    display: flex;
    height: 7vh;
    position: absolute;
    top: 0;
    width: 100%;
    background-color: #2c2c2cbc;
    align-items: center;
    border-bottom: 1px solid #028a68b4;
}

.logo {
    display: flex;
    align-items: center;
    height: 100%;
    width: auto;
    margin-left: 2%;
    margin-right: 5%;
    font-size: 2rem;
}


.navBar a {
    height: 100%;
    margin: 0 0 0 5px;
    line-height: 1.9rem;
    background-color: #2c2c2c00;
    font-size: 1.2rem;
    font-weight: 300;
    line-height: 3.5rem;
    margin: 1%;
}

.navBar .logo a {
    font-size: 2rem;
}

.pfp {
    display: flex;
    justify-content: right;
    text-align: right;
    width: 70%;
    height: 75%;
}

.imgWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #028a68b4;
    height: 2.75vw;
    width: 2.75vw;
    border-radius: 70%;
    overflow: hidden;
    margin-right: 2%;
}

.pfp img {
    margin: auto;
    height: 90%;
    width: 80%;
}